API_KEY="ASDA"

# Para cuando Next.js corre en tu PC y Spring tmb en tu PC
API_URL="http://localhost:8080/api/v1"

# Para el navegador
NEXT_PUBLIC_API_URL="http://localhost:8080/api/v1"

AUTH_SECRET="esta_es_una_llave_super_secreta_para_next_auth_de_cinemo_2026"