API_KEY="ASDA"

# Para cuando Next.js corre en tu PC y Spring tmb en tu PC
API_URL="http://localhost:8080/api/v1"

# Para el navegador
NEXT_PUBLIC_API_URL="http://localhost:8080/api/v1"

AUTH_SECRET="esta_es_una_llave_secreta_muy_larga_para_que_jjwt_no_se_queje_12345"

